@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');




* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-btwn {
    justify-content: space-between;
}

.text-align {
    text-align: center;
}

.gap-30 {
    gap: 30px;
}

.w-100 {
    width: 100%;
}

.min-vh-100 {
    min-height: 100vh;
}

.f-d-clmn {
    flex-direction: column;
}

.f-grow {
    flex-grow: 1;
}

.bg-img {
    background-image: url(../images/Rectangle18.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;
}

.h1>span {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #01C8FF;
}

.home {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.events {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.mt-10 {
    margin-top: 10px;
}

.mt-137 {
    margin-top: 137px;
}

.mt-199 {
    margin-top: 199px;
}

.logBtn {
    width: 118px;
    height: 46px;
    padding: 11px 28px 11px 28px;
    gap: 10px;
    border-radius: 23px;
    background: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #2C49FE;
    transition: all 0.5s;
}

.logBtn:hover {
    background-color: #FFFFFF;
    color: #2C49FE;
    border: 1px solid #2C49FE;
    transition: all 0.5s;
}

.posi-rel {
    position: relative;
}

.sedhead {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 96.32px;
    text-align: left;
    color: #FFFFFF;
    max-width: 1044px;
}

.line1::after {
    width: 414.56px;

    height: 8px;
    background: #2C49FE;
    content: '';
    display: flex;
    position: absolute;
    left: 33%;
}

.line1::before {
    width: 469.56px;
    height: 8px;
    background: #01C8FF;
    content: '';
    display: flex;
    position: absolute;
    left: 33%;
}

.loremhead {
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    max-width: 765px;
}

.pt-256 {
    padding-top: 256px;
}

.ml-17 {
    margin-left: 17px;
}

.ml-21 {
    margin-left: 21px;
}

.ml-15 {
    margin-left: 15px;
}

.mt-18 {
    margin-top: 18px;
}

.gap-15 {
    gap: 15px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-63 {
    margin-left: 63px;
}

.getBtn {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    height: 52px;
    padding: 11px 28px 11px 28px;
    gap: 10px;
    border-radius: 28px;
    background: #2C49FE;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #2C49FE;
    transition: all 0.5s;
    cursor: pointer;
}

.getBtn:hover {
    background-color: #FFFFFF;
    color: #2C49FE;
    border: 1px solid #2C49FE;
    transition: all 0.5s;
}

.mt-33 {
    margin-top: 33px;
}

.learn {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.gap-23 {
    gap: 23px;
}

.layout {
    width: 962px;
    height: 108px;
    border-radius: 150px;
    border-color: #FFFFFF;
    background: #2C49FEBD;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.location {
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.94px;
    text-align: left;
    color: #FFFFFF;
}

.byhead {
    font-family: 'Yantramanav', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.16px;
    text-align: left;
    color: #FFFFFFB2;
}

.gap-17 {
    gap: 17px;
}

.line3 {
    width: 74px;
    height: 0px;
    border: 3px;
    rotate: -90 deg;
    border: 3px solid #FFFFFF;
}


.vertical_line_1 {
    width: 3px;
    height: 74px;
    background: #ffffff;
}

.goBtn {
    width: 185px;
    height: 70px;
    border-radius: 150px;
    background: #FFFFFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #2C49FE;
    cursor: pointer;
    border: none;
    outline: none;
}

.goBtn:hover {
    background: #2C49FE;
    color: #FFFFFF;
}

.mt-145 {
    margin-top: 145px;
}

.menu {
    position: absolute;
    padding: 20px;
    z-index: 10;
    top: 0%;
}

bg-layer::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00000091;
}

.layer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/Rectangle19.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.mb-104 {
    margin-bottom: 104px;
}


.line4::after {
    width: 166px;
    height: 8px;
    background: #2C49FE;
    content: '';
    display: flex;
    position: absolute;
}

.line4::before {
    width: 189px;
    height: 8px;
    background: #01C8FF;
    content: '';
    display: flex;
    position: absolute;
}

.ushead {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: #000000;
}

.mt-21 {
    margin-top: 21px;
}

.lorem2head {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000B2;
    padding-bottom: 46px;
}

.circle {
    border: 2px solid #2C49FE;
    border-radius: 79px;
    height: 80px;
    width: 80px;
    background-color: #FFF;
}

.svg {
    border: 2px solid white;
    border-radius: 79px;
    height: 68px;
    width: 70px;
}

.absolute {
    position: absolute;
    top: 43%;
    left: 45%;
}

.curser {
    cursor: pointer;
}

.text-box {
    border: 2px solid #2C49FE;
    border-radius: 5px;
    background: white;
    padding-top: 40px;
}

.mb-15 {
    margin-bottom: 15px;
}

.circle {
    border: 2px solid #2C49FE;
    border-radius: 79px;
    height: 80px;
    width: 80px;
    background-color: #FFF;
}

.absolute-2 {
    position: absolute;
    top: -21%;
    left: 34%;
}

.sharing {
    color: #1438ec;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.lorem5 {
    color: #0f12c3;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 18px;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;

}

.mt-6 {
    margin-top: 6px;
}

.text-box:hover {
    background-color: #0f12c3;
    cursor: pointer;
}

.text-box:hover p {
    color: #FFF;
}

.mt {
    margin-top: 35px;
    margin-bottom: 70px;
}

.posi-ab {
    position: absolute;
}

.z-1 {
    z-index: 1;
}

.transform {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-image1 {
    background-image: url(../images/Group48095505.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.padding-py {
    padding: 50px 0;
}

.lorem3head {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 62.4px;
    text-align: center;
    color: #FFFFFF;
    max-width: 708px;
}

.lorem4head {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    max-width: 765px;
}

.number {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: left;
    color: #FFFFFF;
}

.part {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
}

.mt-40 {
    margin-top: 40px;
}

.mt-78 {
    margin-top: 78px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mt-2 {
    margin-top: 2px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-1 {
    margin-top: 1px;
}

.explore {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 65.52px;
    text-align: left;
    color: #000000;
    width: 338px;
}

.ipsum {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000B2;
    width: 543px;
}

.more {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.mt-12 {
    margin-top: 12px;
}

.mt-15 {
    margin-top: 15px;
}



.date9 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000B2;
}

.lorem6 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #000000;
}

.amet {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000B2;
    width: 270px;
}

.ml-24 {
    margin-left: 24px;
}

.mt-13 {
    margin-top: 13px;
}

.mt-5 {
    margin-top: 5px;
}

.card:hover {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 20px 20px 32px 20px rgba(0, 0, 0, 0.06);
}

.mt-214 {
    margin-top: 214px;
}

.mt-163 {
    margin-top: 163px;
}

.join {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: #000000;
}

.pt-9 {
    padding-top: 9px;
}

.amet2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000B2;
    max-width: 543px;
}

.uphead {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.5px;
    text-align: left;
    color: #000000;
}

.ml-1 {
    margin-left: 1px;
}

.form {

    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: rgba(0, 0, 0, 0.00);
    color: #4d4d4d;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 17px;
    width: 100%;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.txtarea {
    resize: none;
}

.w-50 {
    width: 500px;
}

.w-536 {
    width: 536px;
}

.gap-16 {
    gap: 16px;
}

.w-30 {
    width: 310px;
}

.sign-up {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 23px;
    background: #2C49FE;
    border: none;
    padding: 12px;
    margin-top: 25px;
}

.sign-up:hover {
    background-color: white;
    border: 2px solid #4d67ea;
    color: #4d67ea;
}